html{
    width: 200px;
    height: 300px;
    overflow-y: auto;
}

.entry {
    display: flex;
    width: 100%;
}

h3 {
    position: absolute;
    right: 10px;
}

h4 {
    overflow-x: auto;
    width: 150px;
}