@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

html {
    width: 250px;
    height: 300px;
}

body {
    margin: 0;
    padding-left: 5px;
    padding-top: 5px;
}

vr {
    background-color: #4e50583e;
    border: none;
    border-radius: 1px;
    width: 2px;
    height: 100%;
}

#web-list {
    margin-top: 10px;
    width: 100%;
    height: 325px;
    overflow-y: auto;
}

.entry>h4 {
    width: 190px;
    margin: 0;
    overflow: hidden;
    float: left;
    margin-bottom: 10px;
}

.entry-btn {
    width: 25px;
    float: right;
    margin-right: 5px;
}

.title {
    font-family: 'Poppins';
}

#viewer {
    transform: translateX(300px);
    position: fixed;
    width: 100%;
    height: 100%;
    background: green;
    top: 0px;
    left: 0px;
    transition: 300ms ease-in-out;
}

#header {
    background: #2f3336;
    color: #fff;
    display: flex;
}

#back {
    outline: none;
    border: none;
    color: #fff;
    background: transparent;
    transform: translateX(5px);
    transition: 200ms;
    cursor: pointer;
}

#back:hover {
    transform: translateX(0px);
}

#title {
    margin: 9px;
    text-align: center;
    transition: 250ms linear;
}

#title:hover {
    transform: translateX(-250px);
}

.title-cont {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    width: 100%;
}

#body {
    background: #272b2c;
    width: 100%;
    height: 30%;
    display: flex;
    align-content: center;
}

.body-component {
    width: 33%;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.main {
    width: 100%;
    text-align: center;
    margin: 0px;
    color: #fff;
}

.bottom {
    width: 100%;
    text-align: center;
    margin: 0px;
    color: #aaccf4;
    font-weight: bold;
}

#footer {
    background: red;
    height: 165px;
}

.keyboard {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #272b2c;
}

.row {
    display: flex;
}

.key {
    font-family: 'Poppins';
    font-size: 10px;
    width: 20px;
    height: 20px;
    color: #71D4FE;
    background: #2f3336;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.key:hover {
    width: 19px;
    height: 18.5px;
    border: 1px solid #eee;
}

.long {
    width: 75px;
}

.long:hover {
    width: 74px;
}

.stats {
    background: #272b2c;
    width: 100%;
    height: 45px;
    display: flex;
}

.stats-cont {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.stats-value {
    text-align: center;
    margin: 2px;
}

.stats-value.bottom {
    color: #71D4FE;
}