@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

:root {
    --text: #fff;
    --text-accent: #71d4fe;
    --text-more-accent: #aaccf4;

    --bkgd-main: #272b2c;
    --bkgd-accent: #2f3336;
    --bkgd-more-accent: #5f6368;

    --other: #708090;
}

html {
    width: 250px;
    height: 375px;
}

body {
    margin: 0;
    padding-top: 5px;
    background: var(--bkgd-main);
}

vr {
    background-color: #4e50583e;
    border: none;
    border-radius: 1px;
    width: 2px;
    height: 100%;
}

button {
    outline: none;
    border: none;
    color: var(--text);
    background: transparent;
    transform: translateX(5px);
    transition: 200ms;
    cursor: pointer;
}

button:hover {
    transform: translateX(0px);
}

li {
    color: #ffbdbd;
}

#settings {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}

.special-btn {
    font-family: "Poppins";
    box-shadow: inset 0 0 0 0 var(--text-more-accent);
    color: var(--text-more-accent);
    transition: color 300ms ease-in-out, box-shadow 300ms ease-in-out;
    font-weight: bold;
}

.special-btn:hover {
    transform: translateX(5px);
    box-shadow: inset 120px 0 0 0 var(--text-more-accent);
    color: var(--bkgd-main);
}

.nodata {
    color: var(--text);
    margin-left: 20px;
}

#web-list::-webkit-scrollbar,
#json-list::-webkit-scrollbar {
    width: 12px;
}

#web-list::-webkit-scrollbar-track,
#json-list::-webkit-scrollbar-track {
    background: var(--bkgd-main);
}

#web-list::-webkit-scrollbar-thumb,
#json-list::-webkit-scrollbar-thumb {
    background-color: var(--other);
    border-radius: 20px;
    border: 3.5px solid var(--bkgd-main);
}

#web-list {
    margin-left: 10px;
    width: 100%;
    height: 325px;
    overflow-y: auto;
    overflow-x: hidden;
}

.entry {
    padding-top: 5px;
    width: 230px;
    height: 25px;
    margin-bottom: 10px;
    margin-right: 5px;
    border-bottom: 2px solid var(--text-more-accent);
    background: var(--bkgd-more-accent);
    border-radius: 5px;
    box-shadow: #ffffff88 0px 4px 6px;
    transition: 300ms;
}

.entry:hover {
    box-shadow: none;
}

.site-icon {
    height: 12px;
    width: 12px;
    float: left;
    margin-right: 5px;
    margin-left: 5px;
    transform: translateY(4px);
    border-radius: 50%;
}

.entry>a {
    text-decoration: none;
    color: var(--text);
    width: 190px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
    transition: 200ms;
}

.entry>a>h4 {
    padding-top: 2px;
    overflow: hidden;
    font-size: 10px;
    margin: 0;
}

.entry>a:hover {
    color: var(--text-accent);
    cursor: pointer;
    transform: translateY(-2px);
}

.entry-btn {
    width: 25px;
    float: right;
    margin-right: 5px;
}

.title {
    margin-left: 5px;
    font-size: 20px;
    color: var(--text);
    font-family: 'Poppins';
    white-space: nowrap;
    font-weight: bold;
}

#settings-viewer {
    transform: translateY(-500px);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    transition: 300ms ease-in-out;
    background: var(--bkgd-main);
}

#viewer {
    transform: translateX(300px);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    transition: 300ms ease-in-out;
}

#header {
    background: var(--bkgd-accent);
    color: var(--text);
    display: flex;
}

.title-cont {
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
}

#title {
    margin: 9px;
    text-align: left;
    transition-timing-function: linear;
    display: inline-block;
    white-space: nowrap;
}

#body {
    background: var(--bkgd-main);
    width: 100%;
    height: 85px;
    display: flex;
}

.body-component {
    width: 33%;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.main {
    width: 100%;
    text-align: center;
    margin: 0px;
    color: var(--text);
    font-family: "Poppins";
}

.bottom {
    width: 100%;
    text-align: center;
    margin: 0px;
    color: var(--text-more-accent);
    font-weight: bold;
    font-family: "Poppins";
}

#main-body {
    height: 165px;
}

.keyboard {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bkgd-main);
}

.row {
    display: flex;
}

.key {
    font-family: 'Poppins';
    font-size: 10px;
    width: 20px;
    height: 20px;
    color: var(--text-accent);
    background: var(--bkgd-accent);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.key:hover {
    width: 19px;
    height: 18.5px;
    border: 1px solid #eee;
}

.small {
    width: 35px;
}

.small:hover {
    width: 34px;
}

.medium {
    width: 50px;
}

.medium:hover {
    width: 49px;
}

.long {
    width: 75px;
}

.long:hover {
    width: 74px;
}

.stats {
    background: var(--bkgd-main);
    width: 100%;
    height: 55px;
    padding-top: 10px;
    display: flex;
}

.stats-cont {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.stats-value {
    font-family: "Poppins";
    text-align: center;
    margin: 2px;
    transition: 100ms;
}

.stats-value.bottom {
    color: var(--text-accent);
}

#footer {
    height: 30px;
    display: flex;
    justify-content: center;
    bottom: 0px;
    padding-top: 10px;
    padding-bottom: 3px;
    position: absolute;
    width: 100%;
    background: var(--bkgd-accent);
}

#footer>span {
    color: var(--text);
    cursor: pointer;
}

#more-stats {
    font-family: "Poppins";
    margin: 0;
    width: 150px;
    text-align: center;
    cursor: pointer;
    color: var(--text);
    transition: 200ms;
}

#more-stats>span {
    transition: 200ms;
}

#more-stats:hover {
    margin-left: 5px;
    margin-right: 5px;
}

#more-info {
    background: var(--bkgd-main);
    width: 100%;
    height: 360px;
    bottom: 0;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    transform: translateY(500px);
    transition: 200ms ease-in-out;
}

.more-header {
    display: flex;
    padding-top: 5px;
}

.more-header>h3 {
    float: left;
    width: 190;
    margin: 0;
    color: var(--text-more-accent);
    font-weight: bold;
    margin-left: 5px;
    font-family: "Poppins";
}

.more-back {
    font-family: "Poppins";
}

#json-list {
    overflow-y: scroll;
    padding: 5px;
}

.list-entry {
    display: flex;
    justify-content: space-between;
}

.jsonpart {
    font-family: "Poppins";
    margin: 0;
}

.jsonkey {
    color: var(--text-accent);
}

.jsonvalue {
    color: var(--text);
    overflow-x: hidden;
}

#typingtest {
    background: var(--bkgd-main);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    transform: translateX(-300px);
    transition: 200ms ease-in-out;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}

#typingtest::-webkit-scrollbar {
    display: none;
    width: 0px;
}

#type-header {
    top: 0px;
    position: sticky;
    background: var(--bkgd-main);
    box-shadow: var(--bkgd-main) 0px 8px 24px;
    margin-bottom: 10px;
    z-index: 1;
}

#top {
    font-family: "Poppins";
    color: var(--text);
    display: flex;
    justify-content: center;
}

.words {
    text-decoration: underline;
    margin-left: 3px;
    margin-right: 3px;
    cursor: pointer;
}

#content {
    font-family: "Poppins";
    color: var(--text);
    margin: 10px;
    background: var(--bkgd-more-accent);
    padding: 5px;
    border-radius: 5px;
}

#input {
    margin-top: 10px;
}

#type-field {
    font-family: "Poppins";
    padding-left: 5px;
    padding-right: 5px;
    width: 155px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 200ms;
}

#type-field:focus {
    background: #eee;
}

#redo {
    background: var(--other);
    color: var(--text-more-accent);
    transform: translateX(0px);
    width: 55px;
    outline: none;
    border: none;
    height: 22px;
    border-radius: 5px;
    transition: 200ms;
}

#redo:hover {
    filter: brightness(0.9);
}

#redo:active {
    filter: brightness(1);
}

.highlight {
    color: var(--text-accent);
    text-shadow: 1px 0px 0px var(--text-accent);
}

.correct {
    color: #bdffbe;
    text-shadow: 1px 0px 0px #bdffbe;
}

.wrong {
    color: #ffbdbd;
    text-shadow: 1px 0px 0px #ffbdbd;
}

#type-stats {
    display: flex;
    flex-direction: column;
}

#upper {
    display: flex;
}

#type-left,
#type-right {
    width: 50%;
}

.graph {
    padding-top: 5px;
    margin-left: 12.5px;
    background: var(--bkgd-more-accent);
    height: 150px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-bottom: var(--text-accent) solid 5px;
    transition: 200ms;
}

.graph:hover {
    border-bottom: var(--text-more-accent) solid 5px;
}