@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

html {
    width: 250px;
    height: 375px;
}

body {
    margin: 0;
    padding-left: 5px;
    padding-top: 5px;
    background: #272b2c;
}

vr {
    background-color: #4e50583e;
    border: none;
    border-radius: 1px;
    width: 2px;
    height: 100%;
}

button {
    outline: none;
    border: none;
    color: #fff;
    background: transparent;
    transform: translateX(5px);
    transition: 200ms;
    cursor: pointer;
}

button:hover {
    transform: translateX(0px);
}

#web-list::-webkit-scrollbar {
    width: 12px;
}

#web-list::-webkit-scrollbar-track {
    background: #272b2c;
}

#web-list::-webkit-scrollbar-thumb {
    background-color: #708090;
    border-radius: 20px;
    border: 3.5px solid #272b2c;
}

#web-list {
    margin-top: 10px;
    width: 100%;
    height: 325px;
    overflow-y: auto;
}

.entry {
    padding-top: 5px;
    width: 100%;
    height: 25px;
    margin-bottom: 10px;
    border-bottom: 2px solid #aaccf4;
    background: #4d5256;
    border-radius: 5px;
    box-shadow: #ffffff88 0px 4px 6px;
    transition: 300ms;
}

.entry:hover {
    box-shadow: none;
}

.site-icon {
    height: 12px;
    width: 12px;
    float: left;
    margin-right: 5px;
    margin-left: 5px;
    transform: translateY(4px);
    border-radius: 50%;
}

.entry>a {
    text-decoration: none;
    color: #fff;
    width: 190px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
    transition: 200ms;
}

.entry>a>h4 {
    padding-top: 2px;
    font-size: 10px;
    margin: 0;
}

.entry>a:hover {
    color: #71D4FE;
    cursor: pointer;
    transform: translateY(-2px);
}

.entry-btn {
    width: 25px;
    float: right;
    margin-right: 5px;
}

.title {
    font-size: 20px;
    color: #fff;
    font-family: 'Poppins';
    font-weight: bold;
}

#viewer {
    transform: translateX(300px);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    transition: 300ms ease-in-out;
}

#header {
    background: #2f3336;
    color: #fff;
    display: flex;
}

#title {
    margin: 9px;
    text-align: center;
    transition: 250ms linear;
}

#title:hover {
    transform: translateX(-250px);
}

.title-cont {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    width: 100%;
}

#body {
    background: #272b2c;
    width: 100%;
    height: 85px;
    display: flex;
}

.body-component {
    width: 33%;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.main {
    width: 100%;
    text-align: center;
    margin: 0px;
    color: #fff;
}

.bottom {
    width: 100%;
    text-align: center;
    margin: 0px;
    color: #aaccf4;
    font-weight: bold;
}

#main-body {
    height: 165px;
}

.keyboard {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #272b2c;
}

.row {
    display: flex;
}

.key {
    font-family: 'Poppins';
    font-size: 10px;
    width: 20px;
    height: 20px;
    color: #71D4FE;
    background: #2f3336;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.key:hover {
    width: 19px;
    height: 18.5px;
    border: 1px solid #eee;
}

.long {
    width: 75px;
}

.long:hover {
    width: 74px;
}

.stats {
    background: #272b2c;
    width: 100%;
    height: 55px;
    padding-top: 10px;
    display: flex;
}

.stats-cont {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.stats-value {
    text-align: center;
    margin: 2px;
    transition: 100ms;
}

.stats-value.bottom {
    color: #71D4FE;
}

#footer {
    height: 20px;
    display: flex;
    justify-content: center;
    bottom: 0px;
    padding-bottom: 3px;
    position: absolute;
    width: 100%;
    background: #2f3336;
}

#footer>span {
    color: #fff;
    cursor: pointer;
}

#more-stats {
    margin: 0;
    width: 110px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    transition: 200ms;
}

#more-stats>span {
    transition: 200ms;
}

#more-stats:hover {
    margin-right: 5px;
}