@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    width: 250px;
    height: 300px;
}

body {
    margin: 0;
    padding-left: 5px;
    padding-top: 5px;
}

vr {
    border-left: 1px solid #00000088;
    height: 100%;
}

#web-list {
    margin-top: 10px;
    width: 100%;
    height: 325px;
    overflow-y: auto;
}

.entry>h4 {
    width: 190px;
    margin: 0;
    overflow: hidden;
    float: left;
    margin-bottom: 10px;
}

.entry-btn {
    width: 25px;
    float: right;
    margin-right: 5px;
}

.title {
    font-family: 'Poppins';
}

#viewer {
    transform: translateX(300px);
    position: fixed;
    width: 100%;
    height: 100%;
    background: green;
    top: 0px;
    left: 0px;
    transition: 300ms ease-in-out;
}

#header {
    background: blue;
    display: flex;
}

#title {
    margin: 5px;
    width: 100%;
    text-align: center;
}

#body {
    background: orange;
    width: 100%;
    height: 30%;
    display: flex;
    align-content: center;
}

.body-component {
    width: 33%;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.main {
    width: 100%;
    text-align: center;
    margin: 0px;
}

.bottom {
    width: 100%;
    text-align: center;
    margin: 0px;
}

#footer {
    background: red;
    height: 165px;
}

.keyboard {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #272B2C;
}

.row {
    display: flex;
}

.key {
    font-family: 'Poppins';
    font-size: 10px;
    width: 20px;
    height: 20px;
    color: #71D4FE;
    background: #2F3336;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.key:hover {
    width: 19px;
    height: 18.5px;
    border: 1px solid #eee;
}

.long {
    width: 75px;
}

.long:hover {
    width: 74px;
}

.stats {
    background: purple;
    width: 100%;
    height: 45px;
    display: flex;
}

.stats-cont {
    width: 50%;
    display: flex;
    padding-top: 5px;
    flex-direction: column;
}

.stats-value {
    text-align: center;
    margin: 0;
}